a:link,
a:visited {
  color: #81a2be;
  text-decoration: none;
}

a:hover {
	color: #9fc8eb;
}

#alignment {
  margin: auto;
  position: relative;
  width: 25%;
}

@media (max-width:1500px) {
  #alignment {
    width: 40%;
  }
}

@media (max-width:1100px) {
  #alignment {
    width: 60%;
  }
}

body {
  background-color: #1d1f21;
  color: #ffffff;
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
}

.content {
  background-color: #2d2f31;
  border: 1px solid #81a2be;
  display: block;
  margin: auto;
  padding: 10px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 5px;
  text-align: left;
  white-space: nowrap;
}

li {
  display: inline;
  padding: 0 5px;
}